<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title src="/images/LaikaMascotas.svg">Laika Mascotas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>

<body>
    <nav class="up-header">
        <div>
            <ul>
                <li><i class="far fa-id-card"></i> Compras seguras online | </a></li>
                <li>Pago Contra Entrega | <i class="fas fa-sign-in-alt"></i></a></li>
                <li>Entregas el mismo dia | <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </div>
    </nav>
    <header>
        <section>
            <img class="Logo" src="/images/LaikaMascotas.svg" width="80px" alt="Logo">
            <p>LAIKA</p>
        </section>
        <section>
            <form class="searchbar">
                <div>
                    <input type="search" placeholder="Encuentra lo mejor para tu mascota."><i class="fas fa-search"></i>
                </div>
            </form>
        </section>
        <section>
            <p><i class="fas fa-sign-in-alt"></i> Mi Cuenta</p>
        </section>
        <section>
            <p><i class="fas fa-shopping-basket"></i></p>
        </section>
    </header>
    <section>
        <img src="/images/Banner.jpg" width="280" alt="Banner de ofertas">
    </section>
    <main class="home">

    </main>
    <footer>
        <section>
            <img src="/images/LAIKA.png" width="80" alt="Laika">
            <br>
            <h3>Siguenos en:</h3>
            <p><i class="fa-brands fa-youtube"></i><i class="fa-brands fa-instagram"></i><i
                    class="fa-brands fa-facebook-square"></i></p>
        </section>
        <section>
            <h3>ACERCA DE LAIKA</h3>
            <br>
            <p>Sobre Laika</p>
            <br>
            <p>Servicios</p>
            <br>
            <p>Trabaja con nosotros</p>
            <br>
            <p>Blog</p>
            <br>
            <p>Términos y condiciones</p>
        </section>
        <section>
            <h3>LINK DE INTERÉS</h3>
            <br>
            <p>Preguntas frecuentes</p>
            <br>
            <p>¿Cómo comprar en Laika?</p>
            <br>
            <p>Politica de Privacidad</p>
            <br>
            <p>Contáctanos</p>
            <br>
            <p>Politicas de Entrega</p>
        </section>
        <section>
            <h3>INFORMACIÓN</h3>
            <br>
            <p>Teléfono: 3009108496</p>
            <br>
            <p>servicioclientes@laika.com.co</p>
            <br>
            <p>Bogotá D.C., Colombia</p>
        </section>
        <section>
            <h3>SUSCRIBETE</h3>
            <br>
            <p>Recibe noticias y promociones al instante.</p>
            <br>
            <p>Servicios</p>
        </section>

    </footer>
    <p class="down-footer">
        <img src="/images/Mercado_pago.png" width="70" alt="Mercado Pago">
        <img src="/images/MASTER.png" width="70" alt="Mastercard">
        <img src="/images/VISA.png" width="70" alt="Visa">
        <img src="/images/AMERICAN.png" width="70" alt="American Express">
        <img src="/images/APP.png" width="100" alt="App Store">
        <img src="/images/GOOGLEP.png" width="100" alt="Google Play">
        <img src="/images/huaweiGallery.png" width="100" alt="Huawei">
    </p>
</body>

</html>